# This is a template file. Copy this to keystore.properties and fill in your actual values.
# DO NOT commit keystore.properties to version control!

storePassword=your-keystore-password
keyPassword=your-key-password
keyAlias=clevrcash-release-key
storeFile=../app/clevrcash-release.keystore

